
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding-left: 5px;
  padding-right: 5px;
}

.form-group{
  margin: 0;
  padding-bottom: 0;
}

.datetimepicker .active, .datetimepicker .active:hover, .datetimepicker .active.disabled, .datetimepicker .active.disabled:hover {
  background-color: $slim_primary;
  background-image: linear-gradient(to bottom, $slim_primary, $slim_primary);
  background-repeat: repeat-x;
  border-color: $slim_primary $slim_primary $slim_primary;
  color: #fff;
  -webkit-filter: progid:dximagetransform.microsoft.gradient(startColorstr='$slim_primary', endColorstr='$slim_primary', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='$slim_primary', endColorstr='$slim_primary', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datetimepicker .current, .datetimepicker .current:hover, .datetimepicker .current.disabled, .datetimepicker .current.disabled:hover {
  background-color: $slim_gold;
}

.well {
  blockquote {
    padding: 4px 20px;
    margin: 0;
    font-size: inherit;
    border-left: 5px solid $slim_gold;
  }
}