// theme 1 : noir gris or

//$slim_primary : #000000;

//$slim_text_color:#997f51;

//$slim_text_color_2: #5a5a5a;

// theme 2 : blanc noir rouge-bordeau

//$slim_primary : #000000;

//$slim_text_color:#fff;

//$slim_text_color_2: #961e0e;

// theme 3 #961e0e

$slim_primary : #000000;

$slim_text_color:#debc6e ;//997f51; //debc6e

$slim_text_color_2: #e30101;