#alertes{
  .well{
    padding:8px;
  }
  
  .list-group{
    margin-bottom: 10px;

    .list-group-item{
      .row-content {
        width: -webkit-calc(100% - 32px);
        width: calc(100% - 32px);
      }

      .list-group-item-heading{
        font-size: 15px;
        font-weight: bold;
      }
    }

    .list-group-separator::before {
      content: "";
      width: -webkit-calc(100% - 90px);
      width: calc(100% - 90px);
      border-bottom: 1px solid $slim_primary;
      float: right;
    }

  }

  .scroll-alertes{
    max-height: 345px;
    overflow-y: auto;
  }

  h5{
    text-align: center;
    margin-bottom: 20px;

    span{
      border-bottom:2px dotted $slim_primary;
      padding-bottom: 5px;
    }
  }
}