<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="accueil">
                SLIM
            </a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse hide">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a data-target="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars fa-lg"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">Edward NANDA</a></li>
                        <li><a data-toggle="modal" data-target="#suggestion" translate>HEADER.ARG_1</a></li>
                        <li><a href="javascript:void(0)" translate>HEADER.ARG_2</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)" translate>HEADER.ARG_3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal" id="suggestion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate>HEADER.ARG_1</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal text-center">
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea class="form-control text-center" rows="3" id="textArea" ng-model="suggestion" placeholder="Renseigner votre suggestion ici"></textarea>
                            <span class="help-block text-center" translate>HEADER.ARG_4</span>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-raised" data-dismiss="modal" id="closeSuggestion" translate>HEADER.ARG_5</button>
                <button type="button" class="btn btn-primary btn-raised" ng-click="enregistrerSuggestion()" translate>HEADER.ARG_6</button>
            </div>
        </div>
    </div>
</div>