<div class="">
    <div class="row-fluid">
        <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">Service du 14 Mai 2017</div>
                <div class="panel-body">
                    <button class="btn btn-raised btn-lg btn-primary" data-toggle="modal" data-target="#authentification" translate>SQUELLETE.ARG_1
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading" translate>SQUELLETE.ARG_2</div>
                <div class="panel-body">
                    <button class="btn btn-raised btn-lg btn-primary" ui-sref="statistique">
                        23 000 000 Fcfa
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">2 <span translate>SQUELLETE.ARG_3</span></div>
                <div class="panel-body">
                    <button class="btn btn-raised btn-lg btn-primary" ui-sref="alertes" translate>SQUELLETE.ARG_4
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">{{commande_memo.length}} <span translate>SQUELLETE.ARG_5</span></div>
                <div class="panel-body">
                    <button class="btn btn-raised btn-lg btn-primary" ui-sref="facture_memo" translate>SQUELLETE.ARG_4
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-lg-3 col-sm-3 col-md-3">
            <div class="row-fluid btn-line">
                <button class="btn btn-raised btn-lg btn-block btn-primary" ui-sref="accueil" translate>SQUELLETE.ARG_6
                </button>
            </div>
            <div class="row-fluid btn-line">
                <button class="btn btn-raised btn-lg btn-block btn-primary" ui-sref="historique" translate>SQUELLETE.ARG_7
                </button>
            </div>
            <div class="row-fluid btn-line">
                <button class="btn btn-raised btn-lg btn-block btn-primary" ui-sref="statistique" translate>SQUELLETE.ARG_8
                </button>
            </div>
            <div class="row-fluid btn-line">
                <button class="btn btn-raised btn-lg btn-block btn-primary" ui-sref="rapport" translate>SQUELLETE.ARG_9
                </button>
            </div>
            <div class="row-fluid btn-line">
                <button class="btn btn-raised btn-lg btn-block btn-primary" ui-sref="univers_client" translate>SQUELLETE.ARG_10
                </button>
            </div>
            <div class="row-fluid btn-line">
                <button class="btn btn-raised btn-lg btn-block btn-primary" ui-sref="agenda" translate>SQUELLETE.ARG_11
                </button>
            </div>
        </div>
        <div class="col-lg-9 col-sm-9 col-md-9">
            <div ui-view="vue"></div>
        </div>
    </div>
</div>

<div class="modal" id="authentification">
    <div class="modal-dialog">
        <div class="modal-content" ng-if="statutAuth">
            <div class="modal-header">
                <h4 class="modal-title" translate>SQUELLETE.TITRE_1</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <span translate>SQUELLETE.ARG_12</span>
                    <br>
                    <span translate>SQUELLETE.ARG_13</span>
                </p>
                <form class="form-horizontal">
                    <div class="form-group text-center">
                        <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-md-4 col-lg-4 col-sm-4">
                            <input type="password" class="form-control text-center" ng-model="code" placeholder="Votre mot de passe">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-raised" id="closeAuthentification" data-dismiss="modal" translate>SQUELLETE.ARG_14</button>
                <button type="button" class="btn btn-raised btn-primary" ng-click="authentification(code)" translate>SQUELLETE.ARG_15</button>
            </div>
        </div>
        <div class="modal-content" ng-if="!statutAuth">
            <div class="modal-header">
                <h4 class="modal-title" translate>SQUELLETE.ARG_1</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7 col-sm-7 col-md-7">
                        <datetimepicker data-ng-model="data.embeddedDate"
                                        data-datetimepicker-config="{ startView:'day', minView:'day',modelType:'moment' }" />
                    </div>
                    <div class="col-lg-5 col-sm-5 col-md-5">
                        <div class="" style="margin-top:30%">
                            <button class="btn btn-block btn-primary btn-raised" translate>SQUELLETE.ARG_1</button>
                        </div>
                        <div class="">
                            <button class="btn btn-block btn-danger btn-raised" data-dismiss="modal" translate>SQUELLETE.ARG_16</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>