<div id="commande" class="commande-container" style="overflow: hidden">
    <div class="row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-2 col-sm-2 col-md-2">
                <button class="btn btn-raised btn-lg btn-default" ui-sref="accueil" style="margin: 0;" translate>
                    COMMANDE.ARG_1
                </button>
            </div>
            <div class="col-lg-7 col-sm-7 col-md-7">
                <div class="row entete" ng-if="commande.client!=undefined">
                    <div class="col-lg-9 col-sm-9 col-md-9">
                        <span translate>COMMANDE.ARG_2</span> : {{commande.client.name |limitTo: 30}} | {{commande.client.customer_type.name|limitTo: 15}} {{commande.client.customer_type.discount}}%
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <button class="btn btn-raised btn-sm btn-default" data-toggle="modal" data-target="#ajouter_client" style="margin: 0;" translate>
                            COMMANDE.ARG_25
                        </button>
                    </div>
                </div>
                <div class="row entete" ng-if="commande.client==undefined">
                    <div class="col-lg-9 col-sm-9 col-md-9">
                        <span translate>COMMANDE.ARG_26</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <button class="btn btn-raised btn-sm btn-default" data-toggle="modal" data-target="#ajouter_client" style="margin: 0;" translate>
                            COMMANDE.ARG_4
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3" style="padding-left: 25px;padding-right: 8px">
                <input class="form-control" ng-model="search_commande" placeholder="Rechercher un client" type="text">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row-fluid" style="margin-top: 10px;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-3 col-sm-3 col-md-3" >
                <fieldset>
                    <legend translate>COMMANDE.TITRE_1</legend>
                    <div class="scroll-categorie">
                        <div class="categorie liste-categorie" ng-class="{'active':F.c_id==undefined}" ng-click="F.c_id=undefined;">
                            TOUS
                        </div>
                        <div infinite-scroll='nextPage()'
                             infinite-scroll-disabled='inf_cat.busy'
                             infinite-scroll-container="'.scroll-categorie'"
                             infinite-scroll-distance='0.05'
                             infinite-scroll-parent="true">
                            <div class="categorie liste-categorie" ng-class="{'active':F.c_id==c.id}"
                                 ng-repeat="c in categories|filter:search_commande" ng-click="F.c_id= c.id">
                                {{c.name}}
                            </div>
                            <div class="text-center loading" ng-show='inf_cat.busy'><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <fieldset>
                    <legend translate>COMMANDE.TITRE_2</legend>
                    <div class="scroll-categorie scroll-produit">
                        <div class="row-fluid">
                            <div class="col-lg-7 col-sm-7 col-md-7" translate>COMMANDE.ARG_5</div>
                            <div class="col-lg-1 col-sm-1 col-md-1 text-center" translate>COMMANDE.ARG_6</div>
                            <div class="col-lg-1 col-sm-1 col-md-1 text-center" translate>COMMANDE.ARG_7</div>
                            <div class="col-lg-3 col-sm-3 col-md-3 text-center" translate>COMMANDE.ARG_8</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="produit row" ng-repeat="p in produits|filter:search_commande|orderBy:'-product.name':true|filter:{product:{category_id:F.c_id}}:true" ng-click="ajouter_produit(p)">
                            <div class="col-lg-7 col-sm-7 col-md-7">
                                {{p.product.name}}
                            </div>
                            <div class="col-lg-1 col-sm-1 col-md-1">{{p.unit}}</div>
                            <div class="col-lg-1 col-sm-1 col-md-1">{{p.pivot.quantity}}</div>
                            <div class="col-lg-3 col-sm-3 col-md-3 text-right">{{p.price}}</div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3">
                <fieldset style="margin-bottom: 5px;">
                    <legend translate>COMMANDE.TITRE_3</legend>
                    <div class="commande">
                        <div class="scroll-commande">
                            <div class="row-fluid">
                                <div class="col-lg-9 col-sm-9 col-md-9" translate>COMMANDE.ARG_5</div>
                                <div class="col-lg-3 col-sm-3 col-md-3 text-center" translate>COMMANDE.ARG_8</div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="categorie row" ng-repeat="p in commande.produits" ng-click="detail_produit(p)">
                                <div class="col-lg-8 col-sm-8 col-md-8 no-padding-lr">{{p.command_quantity}} {{p.product.name}}</div>
                                <div class="col-lg-4 col-sm-4 col-md-4 no-padding-lr text-right">{{p.command_quantity*p.price}}</div>
                            </div>
                        </div>
                        <div class="montant">
                            <div class="row" >
                                <div class="col-lg-3 col-sm-3 col-md-3" translate>COMMANDE.ARG_9</div>
                                <div class="col-lg-9 col-sm-9 col-md-9 text-right value">{{commande.total}} Fcfa</div>
                            </div>
                            <div class="row" >
                                <div class="col-lg-3 col-sm-3 col-md-3" translate>COMMANDE.ARG_10</div>
                                <div class="col-lg-9 col-sm-9 col-md-9 text-right value">{{commande.total*remise| roundCoin : 1 : true}} Fcfa</div>
                            </div>
                            <div class="row" >
                                <div class="col-lg-3 col-sm-3 col-md-3" translate>COMMANDE.ARG_11</div>
                                <div class="col-lg-9 col-sm-9 col-md-9 text-right value">{{commande.total*(1-remise)| roundCoin : 1 : true}} Fcfa</div>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="row" style="margin:5px">
                                <div class="btn-group btn-group-justified btn-group-raised">
                                    <a href="javascript:void(0)" ng-click="memoriser_commande()" class="btn btn-default" style="padding: 8px 12px" translate>COMMANDE.ARG_21</a>
                                    <a href="javascript:void(0)" ng-click="facturer()" class="btn btn-primary" style="padding: 8px 12px" translate>COMMANDE.ARG_22</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <button id="btn_detail_produit" data-toggle="modal" data-target="#detail_produit" class="hide"></button>
    <button id="btn_facturer" data-toggle="modal" data-target="#facturer" class="hide"></button>

    <div class="modal" id="detail_produit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{produit.product.name}}</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <legend translate>COMMANDE.TITRE_4</legend>
                        <div class="row-fluid">
                            <div class="col-lg-3 col-md-3 col-sm-3" translate>COMMANDE.ARG_12</div>
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <input type="number" class="form-control" ng-model="produit.command_quantity" min="1" max="{{produit.pivot.quantity}}">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-lg-3 col-md-3 col-sm-3" translate>COMMANDE.ARG_10</div>
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <input type="number" class="form-control" ng-model="remise" min="0" max="0.1" step="0.05">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-lg-3 col-md-3 col-sm-3" translate>COMMANDE.ARG_13</div>
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <input type="number" ng-model="code" class="form-control" placeholder="Mot de passe">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button type="button" class="btn btn-raised btn-danger" translate ng-click="supprimer_produit(produit)">COMMANDE.ARG_14</button>
                    <button type="button" class="btn btn-raised" id="close_detail_produit" data-dismiss="modal" translate>COMMANDE.ARG_15</button>
                    <button type="button" class="btn btn-raised btn-primary" ng-click="modifier_produit(code)" translate>COMMANDE.ARG_16</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="ajouter_client">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" translate>COMMANDE.TITRE_5</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 pull-right">
                            <input class="form-control" placeholder="Rechercher un client" ng-model="search_client" type="text">
                        </div>
                    </div>
                    <div class="row scroll">
                        <div class="col-lg-4 col-md-4 col-sm-4" ng-repeat="c in clients|filter:search_client" ng-click="choix_client(c)">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {{c.name | limitTo:20}}
                                    <br>
                                    <span class="pull-right md-text text-grey">{{c.customer_type.name}} {{c.customer_type.discount}}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-raised btn-danger" data-dismiss="modal" id="close_ajouter_client" translate>COMMANDE.ARG_15</button>
                    <button type="button" class="btn btn-raised btn-primary" ng-click="supprimer_client()" translate>COMMANDE.ARG_17</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="facturer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        {{commande.client.name}} | {{commande.client.customer_type.name}}  | {{commande.client.customer_type.discount}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <fieldset>
                                <legend translate>COMMANDE.TITRE_3</legend>
                                <div class="commande">
                                    <div class="scroll-commande">
                                        <div class="row-fluid">
                                            <div class="col-lg-9 col-sm-9 col-md-9" translate>COMMANDE.ARG_5</div>
                                            <div class="col-lg-3 col-sm-3 col-md-3 text-right" translate>COMMANDE.ARG_8</div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="categorie row" ng-repeat="p in commande.produits">
                                            <div class="col-lg-8 col-sm-8 col-md-8 no-padding-lr">{{p.command_quantity}} {{p.product.name}}</div>
                                            <div class="col-lg-4 col-sm-4 col-md-4 no-padding-lr text-right">{{p.command_quantity*p.price}}</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <fieldset style="margin-bottom: 20%">
                                <legend translate>COMMANDE.ARG_18</legend>
                                <div class="text-center">
                                    <h3 style="margin-top: 5px" class="value">{{commande.client.account}} Fcfa</h3>
                                </div>
                            </fieldset>
                            <fieldset style="margin-bottom: 20%">
                                <legend translate>COMMANDE.ARG_19</legend>
                                <div class="text-center">
                                    <h3 style="margin-top: 5px" class="value">{{commande.total*(1-remise)| roundCoin : 1 : true}} Fcfa</h3>
                                </div>
                            </fieldset>

                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <fieldset>
                                <legend translate>COMMANDE.TITRE_6</legend>
                                <div class="categorie mode" ng-repeat="m in mode_paiements" ng-class="{'active':mode_paiement==m.title}"
                                     ng-click="choix_mode_paiement(m)">
                                    {{m.title}}
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-raised btn-danger" data-dismiss="modal" id="btn-facturer-close" translate>COMMANDE.ARG_1</button>
                    <button type="button" class="btn btn-raised btn-danger" ng-click="precommande()" translate>COMMANDE.ARG_29</button>
                    <button type="button" class="btn btn-raised btn-primary" ng-click="check_payer()" translate>COMMANDE.ARG_20</button>
                </div>
            </div>
        </div>
    </div>

</div>