<div id="login" class="bg-primary">
    <form class="form-signin">
        <h2 class="form-signin-heading text-center">
            <img src="images/logo_cnc.png" alt="" style="width: 100%">
        </h2>
        <label for="inputEmail" class="sr-only">Email ou Login</label>
        <input type="text" id="inputEmail" ng-model="user.email" class="form-control text-center" placeholder="Email ou Login" required autofocus>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" id="inputPassword" class="form-control text-center" ng-model="user.password" placeholder="Mot de passe" required>
        <button class="btn btn-lg btn-default btn-block btn-raised"  ng-click="login()" type="submit">Connexion</button>
    </form>

</div>
