<div id="login" class="bg-primary">
    <div class="bg-secondary">
        <p class="text-center">
            <span translate>SQUELLETE.ARG_12</span>
            <br>
            <span translate>SQUELLETE.ARG_13</span>
        </p>
        <form class="form-horizontal">
            <div class="form-group text-center">
                <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-md-4 col-lg-4 col-sm-4">
                    <input type="email" class="form-control text-center" ng-model="auth.email" placeholder="Nom d'utilisateur">
                </div>
                <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-md-4 col-lg-4 col-sm-4">
                    Ou
                </div>
                <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-md-4 col-lg-4 col-sm-4">
                    <input type="email" class="form-control text-center" ng-model="auth.user_name" placeholder="Email">
                </div>
                <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-md-4 col-lg-4 col-sm-4">
                    <input type="password" class="form-control text-center" ng-model="auth.code" placeholder="Mot de passe">
                </div>
            </div>
            <button type="button" class="btn btn-raised" id="closeAuthentification" data-dismiss="modal" translate>SQUELLETE.ARG_14</button>
            <button type="button" class="btn btn-raised btn-primary" ng-click="authentification(code)" translate>SQUELLETE.ARG_15</button>
        </form>
    </div>

</div>