<div id="historique">
    <div class="panel">
        <div class="panel-body">
            <h5><span>Statistiques</span></h5>

            <div class="clearfix"></div>
            <div class="scroll-historique">
                <div class="row categorie" ng-repeat="n in [1,2,3,'2',44,33,55,2222,4444,55555,111,11]|filter:filtre">
                    <div class="row-fluid">
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            Champagne
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            Vendu : 100 000 000 Fcfa
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            Objectif : 100 000 000 Fcfa
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>