#agenda{
  .mode{
    padding: 9px;
    text-align: center;
    font-size: 15px;

    &.active{
      background: $slim_primary;
      color: $slim_text_color;
    }
  }
  .liste-categorie{
    &.active{
      background: $slim_primary;
      color: $slim_text_color;
    }
  }

  #ajouter_evenement{
    .modal-dialog{
      width: 400px;
      textarea{
        resize: vertical !important;
        min-height: 100px !important;
      }
    }
  }


}