#client{
  .detail{
    .col-md-3{
      &:first-child{
        font-weight: bold;
      }
    }
    .col-md-9{
      color:$slim_text_color_2;
    }
    .row-fluid{
      margin-bottom: 7px;
      .col-md-3{
        &:first-child{
          font-weight: bold;
        }
      }
    }
  }

  .scroll-categorie{
    .categorie{
      &.active{
        background: $slim_primary;
        color: $slim_text_color;
      }
    }
  }
}