<div id="statistiques">
    <div class="panel">
        <div class="panel-body">
            <h5><span translate>STATISTIQUES.TITRE_1</span></h5>

            <div class="clearfix"></div>
            <div class="scroll-historique">
                <div class="row categorie" ng-repeat="o in objectifs|orderBy:'-name':true">
                    <div class="row-fluid">
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            {{o.category.name}}
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <span translate>STATISTIQUES.ARG_1</span> : 100 000 000 Fcfa
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <span translate>STATISTIQUES.ARG_2</span> : {{o.value}} Fcfa
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>