<div id="agenda">
    <div class="clearfix"></div>
    <div class="row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-2 col-sm-2 col-md-2">
                <button class="btn btn-raised btn-lg btn-default" ui-sref="accueil" style="margin: 0;" translate>
                    AGENDA.ARG_1
                </button>
            </div>

            <div class="col-lg-7 col-sm-7 col-md-7" style="padding-left: 25px;padding-right: 8px">
                <h3 style="padding: 0;margin: 7px;text-align: center;"><span translate>AGENDA.ARG_2</span> <span class="value">{{agendas.length}}</span> <span translate>AGENDA.ARG_3</span></h3>
            </div>

            <div class="col-lg-3 col-sm-3 col-md-3" style="padding-left: 25px;padding-right: 8px">
                <input class="form-control" ng-model="search_commande" placeholder="Rechercher un événement" type="text">
            </div>


        </div>
    </div>
    <div class="row-fluid">
        <div class="col-lg-4 col-sm-4 col-md-4">
            <fieldset>
                <legend translate>AGENDA.TITRE_1</legend>
                <div class="row-fluid btn-line">
                    <button class="btn btn-raised btn-lg btn-primary pull-right"  data-toggle="modal" data-target="#ajouter_evenement" translate>AGENDA.ARG_4
                    </button>
                </div>
                <datetimepicker data-ng-model="data.embeddedDate"
                                data-datetimepicker-config="{ startView:'day', minView:'day',modelType:'moment' }" />
            </fieldset>

        </div>
        <div class="col-lg-8 col-sm-8 col-md-8">
            <fieldset>
                <legend translate>AGENDA.TITRE_2</legend>
                <div class="scroll-categorie">
                    <ul class="timeline">
                        <li ng-repeat="a in agendas" ng-class="{'timeline-inverted':$index%2==0}">
                            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">{{a.title}}</h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>{{a.description}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </fieldset>

        </div>
    </div>
</div>
<div class="modal" id="ajouter_evenement">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" translate>AGENDA.TITRE_3</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <legend translate>COMMANDE.TITRE_4</legend>
                    <div class="row-fluid">
                        <div class="col-lg-3 col-md-3 col-sm-3" translate>COMMANDE.ARG_12</div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="number" class="form-control" ng-model="produit.command_quantity" min="1" max="{{produit.pivot.quantity}}">
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-lg-3 col-md-3 col-sm-3" translate>COMMANDE.ARG_10</div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="number" class="form-control" ng-model="remise" min="0" max="0.1" step="0.01">
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-lg-3 col-md-3 col-sm-3" translate>COMMANDE.ARG_13</div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <input type="number" class="form-control" placeholder="Mot de passe">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-raised btn-danger" translate ng-click="supprimer_produit(produit)">COMMANDE.ARG_14</button>
                <button type="button" class="btn btn-raised" id="close_detail_produit" data-dismiss="modal" translate>COMMANDE.ARG_15</button>
                <button type="button" class="btn btn-raised btn-primary" ng-click="authentification(code)" translate>COMMANDE.ARG_16</button>
            </div>
        </div>
    </div>
</div>