<div class="row-fluid">
    <div class="well well-lg text-center">
        <img src="images/logo_bvs_or.png" alt="" class="image_logo">
        <div class="">
            <button ui-sref="commande({mode:'PHN'})" class="btn btn-lg btn-raised btn-primary">
                PHN
            </button>
            <button ui-sref="commande({mode:'T5'})" class="btn btn-lg btn-raised btn-primary">
                T5
            </button>
            <button ui-sref="commande({mode:'Promo'})" class="btn btn-lg btn-raised btn-primary">
                Promo
            </button>
        </div>
    </div>
</div>