<div id="historique">
    <div class="panel">
        <div class="panel-body">
            <h5><span translate>HISTORIQUE.TITRE_1</span></h5>

            <div class="row-fluid">
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <input class="form-control" ng-model="filtre" placeholder="Filtre" type="text">
                </div>
                <div class="col-lg-1 col-sm-1 col-md-1">
                    <h5 translate>HISTORIQUE.ARG_1</h5>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target=".dropdown-start-parent"
                           >
                            <div class="input-group date">
                                <input type="text" class="form-control" data-ng-model="dateRangeStart">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="dateRangeStart"
                                            data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed',startView:'day', minView:'day' }"
                                            data-on-set-time="startDateOnSetTime()"
                                            data-before-render="startDateBeforeRender($dates)"></datetimepicker>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-1 col-sm-1 col-md-1">
                    <h5 translate>HISTORIQUE.ARG_2</h5>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown" data-target=".dropdown-end-parent"
                           >
                            <div class="input-group date">
                                <input type="text" class="form-control" data-ng-model="dateRangeEnd">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" style="left: -50%;" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="dateRangeEnd"
                                            data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed',startView:'day', minView:'day' }"
                                            data-on-set-time="endDateOnSetTime()"
                                            data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-1 col-sm-1 col-md-1">
                    <div class="btn btn-primary btn-raised btn-sm" ng-click="actualiser_facture()"><i class="fa fa-refresh"></i></div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="scroll-historique">
                <div  infinite-scroll='nextPage()'
                      infinite-scroll-disabled='inf.busy'
                      infinite-scroll-container="'.scroll-historique'"
                      infinite-scroll-distance='0.05'
                      infinite-scroll-parent="true"
                >
                    <div
                            ng-if="factures_historique.length>0" class="row categorie"
                            ng-class="{'bg-secondary':f.status=='expired','bg-primary':f.status=='waiting_customer_approval','bg-text':f.status=='canceled'}"
                            ng-repeat="f in factures_historique|filter:filtrei"

                            ng-click="detail_facture(f)">
                        <div class="row-fluid">
                            <div class="col-lg-1 col-sm-1 col-md-1">
                                {{f.id}}
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                {{f.customer.name}}
                            </div>
                            <div class="col-lg-3 col-sm-3 col-md-3">
                                {{f.created_at}}
                            </div>
                            <div class="col-lg-2 col-sm-2 col-md-2 text-right">
                                {{f.amount| roundCoin : 1 : true}} Fcfa
                            </div>
                        </div>
                    </div>
                    <div class="text-center loading" ng-show='inf.busy'><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
                    <div class="text-center" ng-if="factures_historique.length==0">
                        <h3 translate>HISTORIQUE.ARG_25</h3>
                        <h5 translate>HISTORIQUE.ARG_26</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <button id="btn_detail_facture" data-toggle="modal" data-target="#detail_facture" class="hide"></button>
    <div class="modal" id="detail_facture">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        {{facture.customer.name}} | {{facture.customer.customer_type.name}} | {{facture.discount*100}}%
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <fieldset>
                                <legend translate>HISTORIQUE.TITRE_2</legend>
                                <div class="commande">
                                    <div class="scroll-commande">
                                        <div class="row-fluid">
                                            <div class="col-lg-9 col-sm-9 col-md-9" translate>HISTORIQUE.ARG_4</div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="categorie row" ng-repeat="p in facture.product_saletypes" ng-click="detail_produit(n)">
                                            <div class="col-lg-9 col-sm-9 col-md-9 no-padding-lr">{{p.pivot.quantity}} {{p.product.name}}</div>
                                            <div class="col-lg-3 col-sm-3 col-md-3 no-padding-lr">{{p.pivot.quantity*p.pivot.product_price_was}}</div>
                                        </div>
                                    </div>
                                    <div class="montant">
                                        <div class="row" >
                                            <div class="col-lg-3 col-sm-3 col-md-3" translate>HISTORIQUE.ARG_6</div>
                                            <div class="col-lg-9 col-sm-9 col-md-9 text-right">{{facture.prix_sans_remise| roundCoin : 1 : true}} Fcfa</div>
                                        </div>
                                        <div class="row" >
                                            <div class="col-lg-3 col-sm-3 col-md-3" translate>HISTORIQUE.ARG_7</div>
                                            <div class="col-lg-9 col-sm-9 col-md-9 text-right">{{facture.prix_remise| roundCoin : 1 : true}} Fcfa</div>
                                        </div>
                                        <div class="row" >
                                            <div class="col-lg-3 col-sm-3 col-md-3" translate>HISTORIQUE.ARG_8</div>
                                            <div class="col-lg-9 col-sm-9 col-md-9 text-right">{{facture.amount| roundCoin : 1 : true}} Fcfa</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <fieldset style="margin-bottom: 20%">
                                <legend translate>HISTORIQUE.TITRE_3</legend>
                                <div class="row-fluid clearfix">
                                    <div class="col-lg-6 col-sm-6 col-md-6 bold" translate>HISTORIQUE.ARG_9
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <span>{{facture.status|billStatus}}</span>

                                    </div>
                                </div>
                                <div class="row-fluid clearfix">
                                    <div class="col-lg-6 col-sm-6 col-md-6 bold" translate>HISTORIQUE.ARG_10
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        {{facture.amount| roundCoin : 1 : true}} Fcfa
                                    </div>
                                </div>
                                <div class="row-fluid clearfix">
                                    <div class="col-lg-6 col-sm-6 col-md-6 bold" translate>HISTORIQUE.ARG_11
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        {{facture.deadline}}
                                    </div>
                                </div>
                                <div class="row-fluid clearfix">
                                    <div class="col-lg-6 col-sm-6 col-md-6 bold" translate>HISTORIQUE.ARG_12
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        {{facture.created_at}}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-raised " ng-click="imprimer()" ng-if="facture.status=='paided'" translate>HISTORIQUE.ARG_13</button>
                    <button type="button" class="btn btn-raised btn-primary" ng-click="notifier_client()" ng-if="facture.status=='waiting_customer_approval'" translate>HISTORIQUE.ARG_14</button>
                    <button type="button" class="btn btn-raised btn-danger" data-toggle="modal"  ng-if="facture.status=='paided'" data-target="#extourne" translate>HISTORIQUE.ARG_15</button>
                    <button type="button" class="btn btn-raised btn-primary" data-dismiss="modal" translate>HISTORIQUE.ARG_16</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="extourne">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" translate>HISTORIQUE.TITRE_4</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">
                        <span translate>HISTORIQUE.ARG_18</span>
                        <br>
                        <span translate>HISTORIQUE.ARG_19</span>
                        <br>
                        <span class="value">{{erreur}}</span>
                    </p>
                    <form class="form-horizontal">
                        <div class="form-group text-center">
                            <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-md-6 col-lg-6 col-sm-6">
                                <input type="text" class="form-control text-center" ng-model="e.motifs" placeholder="Motif de l'extourne" translate>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-md-6 col-lg-6 col-sm-6">
                                <input type="password" class="form-control text-center" ng-model="e.codes" placeholder="Votre mot de passe" translate>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-raised" id="close_extourne" data-dismiss="modal" translate>HISTORIQUE.ARG_22</button>
                    <button type="button" class="btn btn-raised btn-primary" ng-click="extourner_facture(e)" translate>HISTORIQUE.ARG_15</button>
                </div>
            </div>
        </div>
    </div>
</div>