<div id="memo">
    <div class="panel">
        <div class="panel-body">
            <h5><span translate>MEMO.TITRE_1</span></h5>

            <div class="clearfix"></div>
            <div class="scroll-historique">
                <div ng-if="commande_memo.length!=undefined && commande_memo.length>0" class="row categorie" ng-repeat="c in commande_memo |orderBy:'-date':true"
                     ui-sref="commande({mode:'c.mode_vente',commande_memo_id:c.id})">
                    <div class="row-fluid">
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            {{c.id}} {{c.client.name}}
                        </div>
                        <div class="col-lg-2 col-sm-2 col-md-2 text-right">
                            {{c.mode_vente}}
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 text-right">
                            {{c.total*(1-c.remise)}} Fcfa
                        </div>
                    </div>
                </div>
                <div class="text-center" ng-if="commande_memo.length==undefined">
                    <h3 translate>MEMO.ARG_1</h3>
                    <h5 translate>MEMO.ARG_2</h5>
                </div>
            </div>
        </div>
    </div>
</div>