<div id="alertes" class="row-fluid">
    <div class="well">
        <h5><span translate>ALERTES.TITRE</span></h5>
        <div class="list-group scroll-alertes">
            <div ng-repeat="n in [1,2,3,4,5,6]">
                <div class="list-group-item">
                    <div class="row-content">
                        <div class="least-content">15m</div>
                        <h4 class="list-group-item-heading">Aller au Pull Man</h4>

                        <blockquote>
                            <p class="list-group-item-text">Recouvrement des factures Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea facere inventore magnam minus perferendis. Aliquid, commodi dolorem mollitia non obcaecati porro quibusdam rerum. Aliquid cupiditate eaque esse nesciunt quae veniam..</p>
                        </blockquote>
                    </div>
                </div>
                <div class="list-group-separator"></div>
            </div>

        </div>
    </div>
</div>