<div id="alertes" class="row-fluid">
    <div class="well">
        <h5><span translate>ALERTES.TITRE</span></h5>
        <div class="list-group scroll-alertes">
            <div ng-repeat="a in alertes|orderBy:'-start_at':true">
                <div class="list-group-item">
                    <div class="row-content">
                        <h4 class="list-group-item-heading">{{a.title}}</h4>
                        <blockquote class="value">
                            <p class="list-group-item-text">{{a.description}}</p>
                        </blockquote>
                        <div class="least-contents">
                            <span translate>ALERTES.ARG_1</span> {{a.start_at}} <span translate>ALERTES.ARG_2</span> {{a.end_at}} <span ng-if="a.periodicity" translate>ALERTES.ARG_3</span>
                        </div>
                    </div>
                </div>
                <div class="list-group-separator"></div>
            </div>

        </div>
    </div>
</div>