<div id="content" class="row-fluid">
    <div class="well well-lg text-center">
        <img src="images/logo_bvs_or.png" alt="" class="image_logo hide">
        <div class="" ng-if="open==1">
            <button ng-repeat="s in saletypess" ui-sref="commande({mode:s.name,depot:depot_id,saletype:s.id})"  title="{{s.description}}"
                    class="btn btn-lg btn-raised btn-primary text-uppercase">
                {{s.name}}
            </button>
        </div>
        <div ng-if="open==0">
            <span translate>CONTENT.ARG_1</span>
            <br>
            <span class="value">{{sell_time}}</span>
        </div>
    </div>
</div>