<div class="commande-container" style="overflow: hidden">
    <div class="row-fluid hide">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-2 col-sm-2 col-md-2">
                <button class="btn btn-raised btn-lg btn-default" ui-sref="accueil" style="margin: 0;">
                    Retour
                </button>
            </div>
            <div class="col-lg-8 col-sm-8 col-md-8">
                <h3 style="margin: 5px;text-align: center;">
                    <span style="padding-bottom: 8px;border-bottom: 2px dotted #009688;">Statistiques</span>
                </h3>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row-fluid" style="margin-top: 10px;">
        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 5px">
            <div class="col-lg-3 col-sm-3 col-md-3" >
                <fieldset>
                    <legend>Clients</legend>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <input class="form-control" ng-model="search_client" placeholder="Rechercher client" type="text">
                    </div>
                    <div class="clearfix"></div>
                    <div class="scroll-categorie">
                        <div class="categorie" ng-repeat="n in [1,2,3,4,5]|filter:search_client">
                            Vins internationaux
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-9 col-sm-9 col-md-9">
                <fieldset>
                    <legend>Informations sur le client</legend>
                    <div class="scroll-univers scroll-produit" >
                        <div class="">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="/#detail" aria-controls="detail" role="tab" data-toggle="tab">Détails</a>
                                </li>
                                <li role="presentation">
                                    <a href="/#plan" aria-controls="plan" role="tab" data-toggle="tab">Plan</a>
                                </li>
                                <li role="presentation"><a href="/#historique" aria-controls="historique" role="tab" data-toggle="tab">Historique compte</a></li>
                                <li role="presentation"><a href="/#partage" aria-controls="partage" role="tab" data-toggle="tab">Partage</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane" id="detail">
                                    <div class="row-fluid detail">
                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">Nom :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">NANDA</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">Prénom :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">Edward</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">Email :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">enanda@bvssas.com</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">Téléphone :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">690613323</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">Adresse :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">Bassa</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">Boite postale :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">1352</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">Ville :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">Douala</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">Pays :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">enanda@bvssas.com</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">Groupe Client :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">CHR en compte 10%</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">Date d'anniversaire :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">XX/XX/XXXX</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-md-6">
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">Nom Société :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">Wiicod</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">RCCM :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">XXX</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">NIU :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">XXX</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">Téléphone :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">690613323</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">Adresse :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">Bassa</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">Boite postale :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">1352</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">Ville :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">Douala</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 col-md-6">Pays :</div>
                                                <div class="col-lg-6 col-sm-6 col-md-6">enanda@bvssas.com</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" id="plan">
                                    <div class="row-fluid" ng-if="plan!=false">
                                        <div id="map" class="col-lg-12 col-sm-12 col-md-12">

                                        </div>
                                        <div class="col-lg-12 col-sm-12 col-md-12">
                                            <div class="btn btn-raised btn-primary btn-sm pull-right">
                                                M'y rendre
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid" ng-if="plan==false">
                                        <div class="col-lg-6 col-sm-6 col-md-6 col-lg-offset-3 col-sm-offset-3 col-md-offset-3 text-center" style="padding-top: 50px">
                                            <p>Aucune coordonnées enregistrées</p>
                                            <p>Veuiller vous rendre chez le client et cliquer sur <strong>Enregistrer</strong> pour recuperer automatiquement ses coordonnées</p>
                                            <div class="btn btn-primary btn-raised">
                                                Enregistrer
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="historique">
                                    <div class="row-fluid">
                                        <div class="col-lg-1 col-sm-1 col-md-1">
                                            <h5>Date</h5>
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target=".dropdown-start-parent"
                                                        >
                                                    <div class="input-group date">
                                                        <input type="text" class="form-control" data-ng-model="dateRangeStart">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                    </div>
                                                </a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <datetimepicker data-ng-model="dateRangeStart"
                                                                    data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed',startView:'day', minView:'day' }"
                                                                    ></datetimepicker>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-lg-9 col-sm-8 col-md-9 scroll-historique">
                                        <div class="row categorie" ng-repeat="n in [1,2,3,'2',44,33,55,2222,4444,55555,111,11]|filter:filtre">
                                            <div class="row-fluid">
                                                <div class="col-lg-4 col-sm-4 col-md-4">
                                                    Numero facture
                                                </div>
                                                <div class="col-lg-2 col-sm-2 col-md-2">
                                                    20-05-2017
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-md-4 text-right">
                                                    100 000 000 Fcfa
                                                </div>
                                                <div class="col-lg-2 col-sm-2 col-md-2 text-right">
                                                    <span class="" data-toggle="modal" data-target="#detail_facture"><i class="fa fa-bars"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-4 col-md-3">
                                        <fieldset style="margin-bottom: 10%">
                                            <legend>Chiffre d'affaire</legend>
                                            <div class="text-center">
                                                <h3>4323 fcfa</h3>
                                            </div>
                                        </fieldset>
                                        <fieldset style="margin-bottom: 10%">
                                            <legend>Solde du compte</legend>
                                            <div class="text-center">
                                                <h3>3E390293090 Fcfa</h3>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <legend>Factures echues</legend>
                                            <div class="text-center">
                                                <h3>100 Factures</h3>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="partage">
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-lg-offset-3 col-sm-offset-3 col-md-offset-3 text-center" style="padding-top: 50px">
                                        <h3>Bientôt disponible</h3>
                                        <p>Patager les informations telles que les promotions, les images des produits et bien d'autre avec les clients</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>